<div style="float:left;background:transparent url(http://i057.radikal.ru/1108/87/cdde217cfee2.jpg) no-repeat scroll -7px 0;height:290px;width:100%;">
    <div style="float:left;"><a
            href="?view=sendIKMessage&amp;receiverId=191033&amp;allyId=3739&amp;oldView=highscore&amp;backgroundView=city&amp;currentCityId=1104871&amp;templateView=highscoreAlly&amp;actionRequest=0773428d6fbbd0eeb4cf5b840617a198"
            class=""><img src="http://s49.radikal.ru/i125/1108/a2/a1012ad83c31.png" alt="Незнайка"
                          title="Написать сообщение Незнайке"></a></div>
    <div style="float:left;"><a
            href="http://s1-ru.ikariam.gameforge.com/index.php?view=sendIKMessage&amp;receiverId=206388"><img
            src="http://i032.radikal.ru/1108/15/085f189512ea.png" alt="Ната" title="Написать сообщение Нате"></a></div>
    <div style="float:left;"><a
            href="http://s1-ru.ikariam.gameforge.com/index.php?view=sendIKMessage&amp;receiverId=162414"><img
            src="http://s019.radikal.ru/i600/1601/3a/f0d85406fe93.png" alt="Nikey" title="Написать сообщение Nikey"></a>
    </div>
</div>